.profile-container{

    width: 100%;
    min-height: calc(100vh - 70px);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 20px;
}

.profile-card{

    width: 100%;
    max-width: 500px;

    background: rgba(255,255,255,0.08);

    backdrop-filter: blur(10px);

    border-radius: 20px;

    padding: 40px;

    color: white;

    text-align: center;

    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.profile-avatar{

    width: 120px;
    height: 120px;

    border-radius: 50%;

    border: 4px solid #FFD100;

    object-fit: cover;

    margin-bottom: 20px;
}

.profile-card h1{

    color: #FFD100;

    margin-bottom: 35px;
}

.profile-info{

    text-align: left;

    margin-bottom: 25px;
}

.profile-info label{

    display: block;

    margin-bottom: 8px;

    font-weight: bold;

    color: #FFD100;
}

.profile-info div{

    background: rgba(255,255,255,0.1);

    padding: 14px;

    border-radius: 12px;

    font-size: 16px;
}

/* TEMA CLARO */

body.light-mode .profile-card{

    background: white;

    color: black;
}

body.light-mode .profile-info div{

    background: #ececec;

    color: black;
}

body.light-mode .profile-info label{

    color: #0A1F44;
}
